{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Control de Planillas</title>
  <link rel="stylesheet" href="{% static 'empleado.css' %}">
</head>
<body>

  <div class="contenedor_titulo">
    <h1 id="titulo">Consultas de Planilla</h1>
  </div>

  <div class="contenedor_botones">
    <div class="contenedor_boton">
      <a href="{% url 'AppEmpleado:planilla_semanal' %}" class="boton_consulta">
        Consultar Planilla Semanal
      </a>
    </div>
    
    <div class="contenedor_boton">
      <a href="{% url 'AppEmpleado:planilla_mensual' %}" class="boton_consulta">
        Consultar Planilla Mensual
      </a>
    </div>
  </div>

</body>
</html>