{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'estilos.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Control de Empleados</title>
</head>
<body>
  <div class="contenedor_titulo">
    <h1 id="titulo">ADMINISTRADOR</h1>
  </div>

  <div class="contenedor_busqueda">
    <input type="text" id="search-bar" class="search-input" placeholder="Buscar empleados..." value="{{ search_query }}">
    <button id="search-button" class="search-button">Buscar</button>
  </div>
  
  
  
  
  <div class="contenedor_botones">
    <button id="boton_agregar">Agregar Empleado</button>
  </div>

  <!-- Modal Insertar Empleado -->
  <div id="modalInsertarEmpleado" class="modal">
    <div class="modal-contenido">
      <span class="cerrar"></span>
      <h2><center>Insertar Nuevo Empleado</center></h2>      <form id="formInsertarEmpleado" method="POST">
        {% csrf_token %}
        <div class="campos-form">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" required>
          <br><br>
        <label for="id_tipo_documento">Tipo de Identificacion:</label>
        <select id="id_tipo_documento" name="id_tipo_documento" required>
          <option value="">-- Seleccione --</option>
          <option value=1>Cédula Nacional</option>
          <option value=2>Cédula Residente</option>
          <option value=3>Pasaporte</option>
          <option value=4>Cédula Jurídica</option>
          <option value=5>Permiso de Trabajo</option>
          <option value=6>Cédula Extranjera</option>
        </select>
        <br><br>

        <label for="valor_documento">Identificacion</label>
        <input type="text" id="valor_documento" name="valor_documento" required>
        <br><br>        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
        <br><br>

        <label for="tipo_usuario">Tipo de Usuario:</label>
        <select id="tipo_usuario" name="tipo_usuario" required>
          <option value="">-- Seleccione --</option>
          <option value=1>Administrador</option>
          <option value=2>Empleado</option>
        </select>
        <br><br>

        <div id="campos_empleado" style="display: none;">          
          <label for="id_puesto">Puesto:</label>
          <select id="id_puesto" name="id_puesto">
            <option value="">-- Seleccione --</option>
            <option value=1>Electricista</option>
            <option value=2>Auxiliar de laboratorio</option>
            <option value=3>Operador de máquina</option>
            <option value=4>Soldador</option>
            <option value=5>Técnico de mantenimiento</option>
            <option value=6>Bodeguero</option>
          </select>
          <br><br>

          <label for="id_departamento">Departamento:</label>
          <select id="id_departamento" name="id_departamento">
            <option value="">-- Seleccione --</option>
            <option value=1>Enlaminado</option>
            <option value=2>Laboratorio</option>
            <option value=3>Bodega de materiales</option>
            <option value=4>Bodega de producto terminado</option>
          </select>
          <br><br>
        </div>

        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" required>
        <br><br>        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required>        <br><br>
        </div>

        <button type="submit">Insertar</button>
      </form>
    </div>
  </div>
  <br>

  <div class="contenedor_lista">
    <table class="tabla" id="tabla_empleados">
      <tr class="encabezado">
        <th>Nombre</th>
        <th>Puesto</th>
        <th>Acciones</th>
      </tr>
      {% for empleado in empleados %}
      <tr>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.puesto }}</td>
        <td class="acciones">
          <button class="boton_consultar" onclick="consultarEmpleado('{{ empleado.id }}')">Consultar</button>
          <button class="boton_modificar" onclick="modificarEmpleado('{{ empleado.id }}')">Modificar</button>
          <button class="boton_borrar" onclick="borrarEmpleado('{{ empleado.identificacion }}')">Borrar</button>
          <button class="boton_movimientos" onclick="verMovimientos('{{empleado.identificacion}}','{{empleado.nombre}}')">Movimientos</button>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>


  <!-- Modal Consultar Empleado -->
  <div id="modalConsultarEmpleado" class="modal">
    <div class="modal-contenido">
      <span class="cerrar-consultar"></span>
      <h2>Información del Empleado</h2>
      <p><strong>Cédula:</strong> <span id="info-identificacion"></span></p>
      <p><strong>Nombre:</strong> <span id="info-nombre"></span></p>
      <p><strong>Fecha de Nacimiento:</strong> <span id="info-fecha-nacimiento"></span></p>
      <p><strong>Puesto:</strong> <span id="info-puesto"></span></p>
      <p><strong>Departamento:</strong> <span id="info-departamento"></span></p>
    </div>
  </div>

  <!-- Modal Confirmar Borrado -->
    <div id="modalBorrarEmpleado" class="modal">
        <div class="modal-contenido">
        <span class="cerrar-borrar">&times;</span>
        <h2>Eliminar Empleado</h2>
        <p>¿Está seguro de eliminar el siguiente empleado?</p>
        <p><strong>Cédula:</strong> <span id="borrar-identificacion"></span></p>
        <p><strong>Nombre:</strong> <span id="borrar-nombre"></span></p>
        <div class="acciones">
            <button id="confirmar-borrar">Confirmar</button>
            <button id="cancelar-borrar">Cancelar</button>
        </div>
        </div>
    </div>

    <!-- Modal Modificar Empleado -->
    <div id="modalModificarEmpleado" class="modal">
        <div class="modal-contenido">
        <span class="cerrar-modificar"></span>
        <h2><center>Inserte los nuevos Datos</center></h2>
        <form id="formModificarEmpleado" method="POST">
            {% csrf_token %}
            <input type="hidden" id="E-id-empleado" name="id_empleado">
            
            <div class="campos-form">
              <label for="nombre">Nombre</label>
              <input type="text" id="E-nombre" name="nombre" required >
              <br><br>
              <label for="id_tipo_documento">Tipo de Identificacion:</label>
              <select id="editar_id_tipo_documento" name="id_tipo_documento" required>
                <option value="">-- Seleccione --</option>
                <option value=1>Cédula Nacional</option>
                <option value=2>Cédula Residente</option>
                <option value=3>Pasaporte</option>
                <option value=4>Cédula Jurídica</option>
                <option value=5>Permiso de Trabajo</option>
                <option value=6>Cédula Extranjera</option>
              </select>
              <br><br>

              <label for="valor_documento">Identificacion</label>
              <input type="text" id="E-identificacion" name="valor_documento" required>
              <br><br>        
              <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
              <input type="date" id="E-fecha-nacimiento" name="fecha_nacimiento" required>
              <br><br>

              <label for="id_puesto">Puesto:</label>
              <select id="E-puesto" name="id_puesto">
                <option value="">-- Seleccione --</option>
                <option value=1>Electricista</option>
                <option value=2>Auxiliar de laboratorio</option>
                <option value=3>Operador de máquina</option>
                <option value=4>Soldador</option>
                <option value=5>Técnico de mantenimiento</option>
                <option value=6>Bodeguero</option>
              </select>
              <br><br>

              <label for="id_departamento">Departamento:</label>
              <select id="E-departamento" name="id_departamento">
                <option value="">-- Seleccione --</option>
                <option value=1>Enlaminado</option>
                <option value=2>Laboratorio</option>
                <option value=3>Bodega de materiales</option>
                <option value=4>Bodega de producto terminado</option>
              </select>
              <br><br>
            </div>
            
            <button type="submit">Guardar Cambios</button>
        </form>
        </div>
    </div>

  <script src="{% static 'administrador.js' %}"></script>
</body>
</html>
